@model WebGiayOnline.Models.ProductGroup
@{
    var isAjax = Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest";
    Layout = isAjax ? null : "~/Views/Shared/_Layout.cshtml";
}
<h2>Thêm nhóm sản phẩm mới</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="GroupName"></label>
        <input asp-for="GroupName" class="form-control" />
        <span asp-validation-for="GroupName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
