@model WebGiayOnline.Models.ProductGroup
@{
    var isAjax = Context.Request.Headers["X-Requested-With"] == "XMLHttpRequest";
    Layout = isAjax ? null : "~/Views/Shared/_Layout.cshtml";
}
<h2>Sửa nhóm sản phẩm</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="ProductGroupId" />

    <div class="form-group">
        <label asp-for="GroupName"></label>
        <input asp-for="GroupName" class="form-control" />
        <span asp-validation-for="GroupName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Cập nhật</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
